body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  font-weight: bold;
  color: white;
}

li {
  list-style: none;
}

a {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

h1 {
  font-size: 70px;
}

h2 {
font-size: 32px;
font-weight: bold;
}

h3 {
font-size: 23px;
font-weight: bold;
}

p {
  font-size: 14px;
}
